:host{
  display: block;
  margin-top: 1rem;
}
/*  host, which targets the element itself. */
.info-text{
  text-align: center;
}
.mat-card{
  margin-bottom: 20px;
}
.mat-card-title{
  display: block;
  text-align: center;
}
